
*{
    box-sizing: border-box;

    
    
}
.ul{
    list-style-type: none!important;
}
.bx-cog{

    color:#ffffff;
}
.bx-bell{

    color: #ffffff;
}


/* .navbar-text{ 
    display: inline !important;
    color: #ffffff !important ;
    text-align: justify;
    text-indent: 80px;
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 1.25rem;
     font-weight: 700 ;

.btn-outline-light{

    padding: 2px 5px !important;
}
 */

 
.btn-outline-success{

color: #ffffff!important;
border-color: #ffffff!important;
}
 
 .profile-name{

    color:#ffffff !important;
 }

.d-sm-inline{

color: #ffffff;
padding: right!important;

}

.bx-menu-alt-left{

color: #ffffff;
font-size:35px;
text-indent: 10px;
}


.pt-{
    color: #113859!important;

 }
 .profile-name {
    font-size: 12px!important;
    color:rgb(165, 162, 162);
    
 }
.py-2{

    background-color: #113859!important;
}

.side-menu{
    
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: rgb(165, 162, 162);
    width: 80px;
    overflow-x: hidden;
    z-index:1;
    
}
.page-heading{

    text-transform: uppercase;
    letter-spacing:5px;
    font-weight: 300;
    font-size: 2rem !important;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    text-indent:80px;
    padding: 20px
    

    

}
.bx-grid-alt{
    z-index:600;
    text-align: center;

}

/* submit button block */

.btn-primary{

    color: #ffffff;
    background-color: #113859 !important;
    border-color: #113859 !important;

}

.card-object{
    background-color: rgb(165, 162, 162) !important;

    
}





/* four blocks after meter daa request form */

.bx-info-circle{
    color: #113859;
}


.bg-blue-light{

    position: relative;
    left:100px;
    background-color:#AFECEF!important;
    border:0
}



.bi-circle-fill{
    font-size: 60px;
    float: right;
    color: #00B1BB !important;
}
.data-info-card{

    border: 0!important;
    box-shadow:0 .5rem 1rem rgb(0,0,0,.15);
    max-height: 120px;

}



.fw-normal{

    color:#00B1BB!important ;
}


.bg-red-light{

    position: relative;
    left:100px;
    background-color:#EF98A3!important;
    border:0;
}


.data-info-card-1{

    border: 0!important;
    box-shadow:0 .5rem 1rem rgb(0,0,0,.15);
    max-height: 120px;

}

.bi-1{

    color:#EB1933!important;
    
}

.fw-normal-1{

    color:#EB1933!important ;
}

.bg-yellow-dark{

    position: relative;
    left:100px;
    background-color:#B18530!important;
    border:0;
}

.data-info-card-2{

    border: 0!important;
    box-shadow:0 .5rem 1rem rgb(0,0,0,.15);
    max-height: 120px;
}
.bi-2{

    color:#FFC24F!important;
    
}
.fw-normal-2{

    color:#FFC24F!important;
}


.bg-green-light{

    position: relative;
    left:100px;
    background-color:#79E7BA!important;
    border:0;
}

.data-info-card-3{

    border: 0!important;
    box-shadow:0 .5rem 1rem rgb(0,0,0,.15);
    max-height: 120px;
}

.bi-3{

    color:#007143 !important;
    
}

.fw-normal-3{

    color:#007143!important;
}

.card-object-1{

    margin: 10px 0px!important;
    border-radius: 10px;
    
}
.shift-card{

    left:100px;
    border: 0!important;
    box-shadow:0 .5rem 1rem rgb(0,0,0,.15);
   
}
.graph-section{
    left:100px!important;
    background-color: #ffffff!important;
    border: 0!important;
    box-shadow:0 .5rem 1rem rgb(0,0,0,.15);
   


}