* {
    box-sizing: border-box;
}

::marker {
    color: #ffffff !important;
}

.ul {
    list-style-type: none !important;
}

.bx-cog {
    color: #629080;
    font-size: 20px;
    margin: 12px;
}

.bx-bell {
    color: #629080;
}

.bi-circle-fill {
    margin-top: -60px !important;
}

.text-center {
    color: #fff !important;
}

.btn-outline-success {
    color: #629080 !important;
    border-color: #629080 !important;
    margin-bottom: 10px;
}

.d-sm-inline {
    color: #4b4c4c !important;
    padding: right !important;
}

.bx-menu-alt-left {
    color: #4b4c4c;
    font-size: 35px;
    text-indent: 10px;
}

.profile-name {
    font-size: 12px !important;
    color: #629080 !important;
    margin-bottom: 20px;
}

.py-2 {
    background-color: #ffffff !important;
}

.side-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: rgb(165, 162, 162);
    width: 80px;
    overflow-x: hidden;
    z-index: 1;
}

.page-heading {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 300;
    font-size: 2rem !important;
    margin-top: 25px;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    text-indent: 80px;
    padding: 20px
}

.bx-grid-alt {
    z-index: 600;
    text-align: center;

}

.btn-primary {
    color: #629080 !important;
    background-color: #ffff !important;
    border-color: #fff !important;
}

.card-object {
    background-color: #629080 !important;
}

.bx-info-circle {
    color: #fff;
}

.bg-blue-light {
    position: relative;
    background-color: #aaaaaa !important;
    border: 0;
}

.bi-circle-fill {
    font-size: 60px;
    float: right;
    color: #4b4c4c !important;
}

.data-info-card {
    border: 0 !important;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .15);
    max-height: 120px;
}

.fw-normal {
    color: #4b4c4c !important;
}

.bg-red-light {
    position: relative;
    background-color: #98d4c0 !important;
    border: 0;
}

.data-info-card-1 {
    border: 0 !important;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .15);
    max-height: 120px;
}

.bi-1 {
    color: #629080 !important;
}

.fw-normal-1 {
    color: #629080 !important;
}

.bg-yellow-dark {
    position: relative;
    background-color: #ffd998 !important;
    border: 0;
}

.data-info-card-2 {
    border: 0 !important;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .15);
    max-height: 120px;
}

.bi-2 {
    color: #f9ab10 !important;
}

.fw-normal-2 {
    color: #f9ab10 !important;
}

.bg-green-light {
    position: relative;
    background-color: #cbbcbc !important;
    border: 0;
}

.data-info-card-3 {
    border: 0 !important;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .15);
    max-height: 120px;
}

.bi-3 {
    color: #9aa39f !important;
}

.fw-normal-3 {
    color: #9aa39f !important;
}

.card-object-1 {
    margin: 10px 0px !important;
    border-radius: 10px;
}

.shift-card {
    border: 0 !important;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .15);

}

.graph-section {
    background-color: #ffffff !important;
    border: 0 !important;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .15);
}

.profile-name {
    white-space: pre-line;
    font-size: 10px !important;
    top: 40px !important;
}