*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  .wrapper{
    margin: 0;
  }
  .wrapper .top_navbar{
    background: #113859;
    height: 80px;
    width:100%;
    position: fixed;
    z-index: 4;
  }